<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/dashboard.css">
<title>Legend Bot</title>
</head>

<body>
    <div class="center">
<button class="butt" onclick="login()">Dashbord</button>
</div>
<script>
    function login() {
        window.location.href = "/login"
    }
</script>
<div class="bu2">
<button class="butt2">Add Legend Bot</button>
</div>

<nav>

    <label class="logo">Legend Bot</label>
<ul>
    <li><a href="">Support</a></li>
    <li><a href="">Commands</a></li>
</ul>
</nav>




</body>
</html>

<!-- hna al button -->