
.lob {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {opacity: 1}

.butt {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .butt:hover {background-color: #3e8e41}
  
  .butt:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 45%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .butt2 {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .butt2:hover {background-color: #3e8e41}
  
  .butt2:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .bu2 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 60%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
* {
 padding: 0;
 margin: 0;
 text-decoration: none;
 list-style: none;
 box-sizing: border-box;
}
nav {
    background: rgb(44, 26, 26);
    height: 80px;
    width: 100%;

}
label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;

}
nav ul {
    float: right;
    margin-right: 20px;

}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    color: white;
    font-size: 17px;
}
.profile_dd {
  position: absolute;
  top: 48px;
  right: -15px;
  background: #fff;
  width: 350px;
  height: auto;
  border: 1px solid #c7d8e2;
  border-radius: 3px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.125),
  -10px -10px 30px rgba(0, 0, 0, 0.125)
}
.profile_dd:before{
content: "";
position: absolute;
top: -20px;
right: 15px;
border: 10px solid;
border-color: transparent transparent #fff transparent;
}
.profile .icon_warp {
  display: flex;
  align-items: center;
}
.profile .name {
  display: inline-block;
  margin: 0 10px;
}
.navbar_right .icon_warp:hover {
color: #3b80f9;
}
.navbar{
  background: #fff;
  width: 100%;
  height: 60px;
  background: #fff;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.navbar .logo a{
  font-size: 20px;
  font-family: "Trade Wins", cursive;
}

.navbar_right img{
  width: 30px;
}
.navbar_right{
  display: felx;
}
.navbar_right .icon_warp{
  cursor: pointer;

}
/* .{
  background-image: url(./imgs/bell.png);
} */
.navbar_right .notifications{
margin-right: 25px;
}
.navbar_right .notifications .icon_warp{
  font-size: 28px;
}
.far-fa-bell{
  background-image: url(./imgs/bell.png);
  font-size: 28px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50% , -50%)
}
.navbar_right .notifications,
.navbar_right .profile{
  position: relative;
}
.mydiv{
  text-align: right;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50% , -50%)
}
/* 183 */
.navbar .navbar_right .icon_wrap:hover,
.navbar .navbar_right .profile.active .icon_wrap,
.navbar .navbar_right .notifications.active .icon_wrap{
  color: #3b80f9;
}
 
.navbar .profile .profile_dd{
  width: 225px;
}
/* .navbar .profile .profile_dd:before{
  right: 10px;
} */

.navbar .profile .profile_dd ul li {
    border-bottom: 1px solid #f1f2f4;
}

.navbar .profile .profile_dd ul li  a{
    display: block;
    padding: 15px 35px;
    position: relative;
}

.navbar .profile .profile_dd ul li  a .picon{
  display: inline-block;
  width: 30px;
}

.navbar .profile .profile_dd ul li  a:hover{
  color: #3b80f9;
  background: #f0f5ff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.navbar .profile .profile_dd ul li.profile_li a:hover {
    background: transparent;
    cursor: default;
    color: #7f8db0;
}

.navbar .profile .profile_dd ul li .btn{
    height: 32px;
    padding: 7px 10px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    background: #3b80f9;
    width: 125px;
    margin: 5px auto 15px;
}

.navbar .profile .profile_dd ul li .btn:hover{
  background: #6593e4;
}

.navbar .profile.active .profile_dd,
.navbar .notifications.active .notification_dd{
  display: block;
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
    display: none;
}

.popup .shadow {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}

.popup .inner_popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: auto;
}

.popup .notification_dd{
  display: block;
  position: static;
  margin: 0 auto;
  height: 357px;
  overflow: auto;
}

.popup .notification_dd:before{
   display: none;
}

.popup .notification_dd li.title{
  font-weight: 700;
  color: #3b80f9;
  display: flex;
  justify-content: center;
  position: relative;
}

.popup .notification_dd li.title .close{
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.popup .notification_dd li.title .close:hover{
  opacity: 0.5;
}